{#Jinja2: trim_blocks: True #}
{% for cust in customers %}
{%   for srv in cust["services"] %}
{%     if inventory_hostname in srv["sap"].keys() %}
{%       if loop.first %}
!!!!!!!!!!!  L3 VNI COnfiguration for {{ cust["name"] }} !!!!!!!!!!!!!!
vrf definition {{ cust["name"] }}
ip routing vrf {{ cust["name"] }}
interface Vxlan1
   vxlan vrf {{ cust["name"] }} vni {{ cust["l3_vni"] }}
router bgp 65001
   !
   vrf {{ cust["name"] }}
      rd 192.168.0.1:101
      route-target import 65001:101
      route-target export 65001:101
{%       endif %}
!
{%       if loop.first %}
!!!!!!!!!!!  VLAN/GW/L2 VNI and SAP Configuration for {{ cust["name"] }} !!!!!!!!!!!!!!
{%       endif %}
vlan {{ srv["vlan_id"] }}
   name {{ cust["name"] }}
!
interface Vlan {{ srv["vlan_id"] }}
   vrf forwarding {{ cust["name"] }}
   ip address virtual {{ srv["gw"] }}
!
interface Vxlan1
   vxlan vlan {{ srv["vlan_id"] }} vni {{ srv["vni"] }}
!
router bgp 65001
   !
   vlan {{ srv["vlan_id"] }}
      rd 192.168.0.1:1010
      route-target both 65001:1010
      redistribute learned
   !
!
{%       for port in srv["sap"][inventory_hostname] %}
interface {{ port }}
   description {{ cust["name"] }}
   switchport trunk allowed vlan add {{ srv["vlan_id"] }}
!
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endfor %}


